@model OCDD.Models.UserModel
@{
    // User Registration Failure view
    // Displays the email already exists if registration fails
    ViewData["Title"] = "Registration Failure";
}
<div>
    <h4>Registration Failure</h4>
    <hr />
    <p>Email: @Model.email already exists in the system. Please try again with differnt email</p>
</div>
<div>
   <a asp-controller="Home" asp-action="Index">Home</a>
   <a asp-action="Index">Try Again</a>
</div>
