@model 			UserModel

<div>
    <h4>Login Fail</h4>
    <hr />
    <p>Either @Model.email, or @Model.password is incorrect please try again.</p>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
