@model RegisterAndLoginApp.Models.UserModel

<div>
    <h4>Login Fail</h4>
    <hr />
    <p>Well, @Model.username, it appears that @Model.password is not going to get you anywher in this application.</p>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
